
body {
    background-image: linear-gradient(rgb(64, 190, 231), rgb(77, 154, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
width: 50em;
margin: auto;
background-color: #fff;
border-radius: 10px;
}

#duvidas {
    margin: auto;
    max-width: 40em;
}

#duvidas h1 {
    padding-top: 15px;
}

#schemas, #fieldCelular {
    cursor: pointer;
}

#localschemas, #schemasimg, #solucaoschemas {
    display: none;
}


#localschemas img{
    width: 22em;
    max-height: 20em;
}

#schemasimg img {
    width: 30em;
    margin: 10px;
}

#solucaoschemas img {
    width: 25em;
    max-height: 20em;
}

