
@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/Quicksand-BoldItalic.otf) format('woff2');
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-position: center;
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    line-height: 25px;
    width: 50em;
    margin: auto;
    background-color: #ffffffd0;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff5d;
}

#logo {
    display: flex;  
}

#logo_adsoft:hover {
    opacity: 0.7;
}

#redes_sociais {
    display: flex;
    gap: 20px;
    margin-top: 5px;
    margin-left: 65%;
}

#redes_sociais img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.2s ease, opacity 0.2s ease;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.644);
    transform-origin: center;
}

#redes_sociais img:hover {
    opacity: 0.8;
    transform: scale(1.2) translate(2px, 4px);
    border: 1.5px solid rgba(0, 0, 0, 0.171);
    margin-right: -2px;
}

#novaImagem {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#duvidas {
    margin: auto;
    max-width: 40em;
}

#duvidas h1 {
    padding-top: 15px;
}

#schemas, #fieldCelular, #errodibutton, #cfopexbutton, #csosnButton, #totalButton {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    transition: width 0.4s ease, heigth 0.4s ease;
    transition: transform 0.4s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
    background-color: #fff;
    
}

#schemas:hover, #fieldCelular:hover, #errodibutton:hover,#cfopexbutton:hover, #csosnButton:hover, #totalButton:hover {
    opacity: 0.7;  
    transform: scale(1.2);
}

#schemas, #fieldCelular, #errodibutton, #cfopexbutton, #csosnButton, #totalButton {
    cursor: pointer;
    
}

#localschemas, #solucaoschemas, #fieldCelularimg, #errodiimg, #cfopeximg, #csosnImg,  #totalImg {
    display: none;
}

#localschemas img{
    width: 22em;
    max-height: 20em;
}

#schemasimg img {
    width: 30em;
    margin: 10px;
}

#solucaoschemas img  {
    width: 25em;
    max-height: 20em;
}

#errodiimg img {
    width: 50vw;
    max-height: 20em;
}

#cfopeximg img, #csosnImg img, #totalImg img {
    width: 45vw;
    max-height: 20em;
}

#totalImg img {
    margin-top: 20px;
}

footer {
    margin: 1vh 40.5vw;
    opacity: 0.5;
    color: #fff;
    white-space: nowrap;
}

footer a {
    text-decoration: none;
    color: #e9e9e9;
}

footer a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin-right: -3px;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #d8d8d8; 
}
tr:nth-child(odd) {
    background-color: rgba(184, 184, 184, 0.767); 
}
#csoStTabela {
    margin-bottom: 20px;
}
